<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<body>
<h1 th:text="${title}"></h1>

<form method="post" style="max-width:600px;" th:object="${user}">
    <div class="form-group">
        <label th:for="*{username}">Username</label>
        <input class="form-control" th:field="*{username}"/>
        <span th:errors="*{username}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="*{email}">Email:</label>
        <input class="form-control" th:field="*{email}" type="email"/>
        <span th:errors="*{email}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="*{password}">Password:</label>
        <input class="form-control" th:feild="*{password}" type="password"/>
        <span th:errors="*{password}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="*{verifypassword}">Verify Password:</label>
        <input class="form-control" th:field="*{verifypassword}" type="password" />
        <span th:errors="*{password}" class="error"></span>
    </div>

    <input type="submit" value="Sign Up" />
</form>

<span class="error" th:text="${message}"></span>

</body>
</html>