<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-green.css">

<div class="w3-container">
    <div class="w3-bar w3-border w3-light-green">
        <a href="/user/add" class="w3-bar-item w3-button w3-hover-blue">Register</a>
        <a href="/user/login" class="w3-bar-item w3-button w3-hover-blue">Login</a>
        <a href="/camper" class="w3-bar-item w3-button w3-hover-blue">Home</a>
        <a href="/camper/blog" class="w3-bar-item w3-button w3-hover-teal">Write a new Story!</a>
        <a href="/camper/search" class="w3-bar-item w3-button">Search<i class="fa fa-search"></i></a>
        <a href="/user/logout" class="w3-bar-item w3-button w3-hover-blue w3-right">Logout</a>
    </div>
</div>

<body class="w3-dark-gray" style="height:300px;">

<div class="w3-display-container w3-animate-opacity">
    <img src="http://eskipaper.com/images/spring-forest-wallpaper-2.jpg" alt="Cliffs" style="width:100%;min-height:200px;max-height:400px;">
    <div class="w3-display-middle w3-text-white w3-jumbo">HappyCamper</div>
    <div class="w3-container w3-display-bottomright w3-text-white w3-large">
        <p>Brought to you by Andrea Brown</p>
    </div>
</div>

<div class="w3-container w3-margin">
    <h1 th:text=" 'Hello, ' + ${user.username} +'. Welcome to HappyCamper!'"></h1>
    <p>HappyCamper is a place for campers to share their stories with their fellow camping community.
        Where you can share what you love about your favorite campgrounds, that perfect site number,
        and even give a rating. If you're looking for your next adventure try searching a campgrounds
        and see what your fellow campers thought, what ratings they gave and what is the best site
        to book.
        Happy Camping!</p>
</div>
<hr/>
<a href="/camper"><h2 class="w3-container w3-margin w3-center">Click here to check out other campers stories.</h2></a>




<hr/>

<div class="w3-container">

    <a href="https://www.reserveamerica.com/"><button class="w3-button w3-block w3-green">Ready to book a camping trip? Check out this site! Reserve America.com</button></a>

</div>


</body>

</html>

