<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/"
                xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: head"></head>

<h1 class="center-block" th:text="${title}">Default Title</h1>

<body>
    <div  class="container">
        <!--<div class="alert alert-danger" role="alert" th:if="${param.error}">-->
            <!--This email or password is incorrect.-->
        <!--</div>-->
            <form method="post" th:object="${user}">

                <div class="form-group">
                    <label th:for="*{username}">Username</label>
                    <input class="form-control" th:field="*{username}"/>
                    <span th:errors="*{username}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="*{password}">Password:</label>
                    <input class="form-control" th:field="*{password}" type="password"/>
                    <span th:errors="*{password}" class="error"></span>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="remember-me"/> Remember me
                    </label>
                </div>

                <input type="submit" value="Login" />
                <!--<div><p>Don't have an account? <a th:href="user/add">Create an account</a></p></div>-->
            </form>
        </div>
<span class="error" th:text="${message}"></span>
</body>
</html>