<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-green.css">

<div class="w3-container">
    <div class="w3-bar w3-border w3-light-green">
        <a href="/user/add" class="w3-bar-item w3-button w3-hover-blue w3-center">Don't have an account? Register here.</a>
    </div>
</div>

<body class="w3-dark-gray" style="height:300px;">

<div class="w3-center w3-text-white w3-jumbo">Login to HappyCamper!</div>


<div class="w3-display-container w3-animate-opacity">
    <img src="https://media.giphy.com/media/8r68JgsfJ9yV2/giphy.gif" alt="tpee" style="width:100%;min-height:200px;max-height:400px;">
    <div class="w3-display-right w3-text-white">

        <div class="container">

            <form class="w3-display-right" method="post" style="width:60%" th:object="${user}">

                    <div class="form-group" style="width:75%">
                        <label th:for="*{username}" class="w3-xlarge">Username</label>
                        <input class="form-control" th:field="*{username}"/>
                        <span th:errors="*{username}" class="error"></span>
                    </div>

                    <div class="form-group" style="width:75%">
                        <label th:for="*{password}" class="w3-xlarge">Password:</label>
                        <input class="form-control" th:field="*{password}" type="password"/>
                        <span th:errors="*{password}" class="error"></span>
                    </div>
                    <input type="submit" class="w3-btn w3-teal" value="Login" />
                </form>
        </div>
    </div>
    <span class="error w3-right w3-text-red w3-large" th:text="${message}"></span>
</div>
</body>
</html>