<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-green.css">

<div class="w3-container">
    <div class="w3-bar w3-border w3-light-green">
        <a href="/user/login" class="w3-bar-item w3-button w3-hover-blue">Log Back In</a>
</div>

<body class="w3-dark-gray w3-container" style="height:300px;">

<div class="w3-display-container w3-animate-opacity">
    <img src="http://pic.photo-aks.com/photo/nature/rain/large/autumn_rain.jpg" alt="Cliffs" style="width:100%;min-height:200px;max-height:400px;">
</div>

<div class="w3-container w3-margin w3-center">
    <h1>Thank You For Visiting HappyCamper,</h1>
    <h2>Come Back Soon And Happy Camping!</h2>
</div>
<hr/>

<div class="w3-container">

    <a href="https://www.reserveamerica.com/"><button class="w3-button w3-block w3-green">Ready to book a camping trip? Check out this site! Reserve America.com</button></a>

</div>


</body>

</html>