<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-green.css">


<div class="w3-container">
    <div class="w3-bar w3-border w3-light-grey">
        <a href="/camper" class="w3-bar-item w3-button">Home Page</a>
        <a href="/camper/search" class="w3-bar-item w3-button">Search<i class="fa fa-search"></i></a>
    </div>
</div>

<body class="container w3-display-container w3-dark-gray" style="height:300px;">

<div class="w3-display-container w3-animate-opacity">
    <img src="https://www.veteranspath.org/css/images/our-mission/intro-mission.jpg" alt="Trees" style="width:100%;min-height:200px;max-height:400px;">
    <div class="w3-display-middle w3-text-white w3-jumbo">Write a HappyCamper Blog Post</div>
</div>

<form method="post" th:object="${blog}">
    <div class="form-group">
        <label th:for="*{title}">Title:</label>
        <input class="form-control" th:field="*{title}"/>
        <span th:errors="*{title}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="*{body}">Write your story:</label>
        <textarea class="form-control" rows="5" th:field="*{body}"></textarea>
        <span th:errors="*{body}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="*{author}">Author:</label>
        <input class="form-control" th:field="*{author}"/>
        <span th:errors="*{author}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="*{createdOn}">Date:</label>
        <input class="form-control" th:field="*{createdOn}"/>
        <span th:errors="*{createdOn}" class="error"></span>
    </div>

    <input type="submit" value="Submit" />
</form>

<span class="error" th:text="${message}"></span>

</body>

</html>