<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

    <nav>
        <a href="/user/add">Signup</a> | <a href="/user/login">Login</a> | <a href="/search">Search</a> | <a href="/camper">Home</a>
        <div><a href="/camper/blog">Write a new Story!</a></div>
    </nav>

    <body class="container">
    <div class="center-block"><h1 th:text="${title}"></h1></div>


        <p th:unless="${blogs} and ${blogs.size()}">Bummer! No stories yet :(</p>


        <table class="table">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <!--<th>Date</th>-->
            </tr>

            <tr th:each="blog : ${blogs}">
                <td th:text="${blog.title}"></td>
                <td th:text="${blog.author}"></td>
                <!--<td th:text="${blog.createdon}"></td>-->
            </tr>
        </table>

        <hr/>
    </body>

</html>