<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head" class="w3-container w3-margin"></head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-green.css">


<div class="w3-container">
    <div class="w3-bar w3-border w3-light-grey">
        <a href="/camper" class="w3-bar-item w3-button">Home Page</a>
        <a href="/user/logout" class="w3-bar-item w3-button w3-hover-blue w3-right">Logout</a>
    </div>
</div>

<body class="container w3-display-container w3-dark-gray" style="height:300px;">

<div class="w3-display-container w3-animate-opacity">
    <img src="https://c.wallhere.com/photos/e2/93/1920x1200_px_Europe_Fall_forest_Germany_landscape_leaves_Morning-699065.jpg!d" alt="Trees" style="width:100%;min-height:200px;max-height:400px;">
    <div class="w3-display-middle w3-text-white w3-jumbo">Search for a location that fellow campers have shared</div>
</div>

    <form method="post" th:object="${searchForm}">

    <div class= "form-group">
    <label th:for="keyword">Keyword</label>
    <input class="form-control" th:field="*{keyword}" />
    </div>

    <input type="submit" value="Search" />
    </form>

</div>
</body>
</html>