<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-green.css">


<div class="w3-container">
    <div class="w3-bar w3-border w3-light-green">
        <a href="/camper" class="w3-bar-item w3-button">Home Page</a>
        <a href="/camper/blog" class="w3-bar-item w3-button w3-hover-teal">Write a new Story!</a>
        <a href="/search" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
    </div>
</div>

<body class="container w3-display-container w3-dark-gray" style="height:300px;">

<div class="w3-container body-content">

    <form method="post" th:object="${searchForm}">
    <div class="form-group">
        <label th:for="*{keyword}">Keyword</label>
        <input class="form-control" th:field="*{keyword}" />
    </div>

    <input type="submit" value="Search" />
    </form>

</div>
</body>
</html>