<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-green.css">


<div class="w3-container">
    <div class="w3-bar w3-border w3-light-green">
        <a href="/camper" class="w3-bar-item w3-button">Home Page</a>
        <a href="/camper/blog" class="w3-bar-item w3-button w3-hover-teal">Write a new Story!</a>
        <a href="/search" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
    </div>
</div>

<body class="container w3-display-container w3-dark-gray" style="height:300px;">

<div class="w3-container body-content">

    <table class="blog-display w3-container w3-table-all w3-margin w3-gray" th:object="${blog}">
        <tr>
            <th>Title</th>
            <td th:text="*{title}"></td>
        </tr>
        <tr>
            <th>Location</th>
            <td th:text="*{location}"></td>
        </tr>
        <tr>
            <th>Body</th>
            <td th:text="*{body}"></td>
        </tr>
        <tr>
            <th>author</th>
            <td th:text="*{author}"></td>
        </tr>
        <tr>
            <th>createdOn</th>
            <td th:text="*{createdOn}"></td>
        </tr>
    </table>
</div>

</body>
</html>