<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">HappyCamper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
    <body>
        <div class="w3-container">
            <div class="w3-bar w3-border w3-light-grey">
                <a href="#" class="w3-bar-item w3-button">Default</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-green">Link 1</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-blue">Link 2</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-teal">Link 3</a>
            </div>
        </div>
    </body>
</html>